.card-content img{
    height: 250px;
    width: auto;
    text-align: center;
}
button{
    text-align: center;
}
.card{
    text-align: center;
    background-color: #fcc59f;
   width: 400px;
   height: 400px;
   border-radius: 25px;
   

}
